@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

.active{
    color : white;
}

.background{
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 12.9%, rgb(255, 163, 77) 12.9%, rgb(255, 163, 77) 18.4%, rgb(19, 30, 37) 18.5%, rgb(19, 30, 37) 66%);
}

.background-login{
    background: radial-gradient(circle at 110% -10%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}

.background-signup{
    background: radial-gradient(circle at -10% -10%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}

.bg-shadow {
    box-shadow: 0 0 10px rgb(255, 163, 77), 0 0 2px rgb(255, 124, 0), inset 0px 0 5px rgb(255, 163, 77);
}

.animate-loader{
    animation: changePage 400ms linear ease-in forwards;
}

@keyframes changePage {
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}


  /* Apply the scrollbar styles to the whole page */
.scrollbar-design {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 124, 0) #131E25;
    overflow: auto; /* Ensure content is scrollable */
  }
  
  /* Define the scrollbar track */
  .scrollbar-design::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Define the scrollbar thumb */
  .scrollbar-design::-webkit-scrollbar-thumb {
    background-color: rgb(255, 124, 0);
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Add a smooth transition */
  }
  
  /* Define the scrollbar track background */
  .scrollbar-design::-webkit-scrollbar-track {
    background-color: #131E25;
  }
  
  /* Add spring effect */
  .scrollbar-design {
    scroll-snap-type: y mandatory; /* Enable scroll snapping */
    scroll-padding-top: 50px; /* Add some padding to the top of the content */
  }
  
  /* Scroll snap points and smooth scrolling */
  .section {
    scroll-snap-align: start;
    scroll-behavior: smooth;
  }

  